@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: aqua;
}

.card-wrapper {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 30px 10px;
}

.card {
    border: 1px solid rgb(173, 165, 165);
    /* max-width: 350px; 
    max-height: 350px; */
    /* height: 450px; */
}

.card img {
    height: 150px;
    width: 100%;
}

/* .card:nth-child(1) {
    order: 5;
    flex-basis: 300px;
    flex-grow: 1;
    align-self: flex-start;
}

.card:nth-child(2) {
    order: 2;
    flex: 0 0 400px;
    align-self: center;
    display: flex;
    flex-direction: column;

}
.card:nth-child(3) {
    order: 4;
    flex-basis: 300px;
    flex-grow: 1;
    align-self: flex-end;
    
} */
/* .card:nth-child(4) {
    order: 6;
}
.card:nth-child(5) {
    order: 1;
}
.card:nth-child(6) {
    order: 3;
} */

.card-footer {
    display: flex;
    justify-content: space-around;
}

.card-body {
    padding: 10px;
}



@media (min-width: 1024px) {
    .card-wrapper {
        flex-direction: row;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-color: blue;
    }
}

@media (min-width: 1024px) {
    body {
        background-color: red;
    }
}

@media (orientation: landscape) and (max-height: 767px) {
    body {
        background-color: aqua;
    }
}