@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.card-wrapper {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.card {
    border: 1px solid rgb(173, 165, 165);
    margin: 10px;
    max-width: 350px;
    /* max-height: 350px; */
}

.card img {
    height: 150px;
    width: 100%;
}